*{
  padding: 0;
  margin: 0;
}
img{
			width: 380px;
			height: 240px;
}
.layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 240px;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}
