@charset "utf-8";
/* CSS Document */
*{
  font-family: "Microsoft JhengHei";
  font-weight: bold;
}
.menu_header{
	
	padding-top:20%;
}

#product_div {
 min-height: 500px;
}

#member_menu {
 background-color: #897CCE;
 min-height: 500px;
 height:100%;
 margin-left:13%;
}

#member_content{	
	min-height: 500px;
	height:100%;
	/* background-color: #EEEEEE; */
}

#product_launch {
 
}

.nav .list_btn{
	color:#333;
	
}

.tab-content .content_header{
	
	padding-top:10px;
}

.menu_hr{
	margin-top: 0px;
	margin-bottom: 5px;
	border-color:#333;
	border-width:2px;
}
