

	.grid-item div {
	  display: flex;
	  color: #fff;
	  font-size: 2em;
	  justify-content: center;
	  align-items: center;
	}
	.grid-ani{
		width: auto;
		height: auto;
		position: relative;
		overflow: hidden;
	}
	.grid-ani:hover .title{
		bottom: 0;
	}
	.title{
	transition: all 1s;
	opacity: 0.5;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -400px;
}

	.one{
	  
	 float:left;
	 margin-left:2%;
	 margin-right: 2%;
	}
	.one img{
	
	width:300px;
	height:300px;
	}

	.two{
		

	  float:right;
	  margin-bottom:45px;
	  margin-right: 1%;
	  margin-left:1%;

	  
	
	}
	.two img{

	  
	  
	  width:300px;
	  height:220px;
	
	}

	.three{

	  float:right;
	 margin-left:2%;
	 margin-right: 2%;
	}
	.three img{

	  
	  width:300px;
	  height:240px;
	  

	}

	.four{

	 float:left;
	 margin-left:2%;
	 margin-right: 2%;
	 margin-top: 45px;
	 
	}
	.four img{

	  
	  width:300px;
	  height:195px;
	
	}
	.five{

	  float:right;
	 margin-left:1%;
	 margin-right: 1%;
	
	}
	.five img{

	  
	  width:300px;
	  height:275px;
	
	}
	.six{

	  float:right;
	  margin-top: 40px;
	  margin-left:2%;
	 margin-right: 2%;

	}
	.six img{

	  
	  width:300px;
	  height:240px;
	  
	
	}



@media screen and (max-width: 1200px) {
	.one{
	  
	 float:left;
	 margin-left:2%;
	 margin-right: 2%;
	}
	.one img{
	
	width:240px;
	height:240px;
	}

	.two{
		

	  float:right;
	  margin-bottom:45px;
	  margin-right: 3%;
	  margin-left:3%;

	  
	
	}
	.two img{

	  
	  
	  width:240px;
	  height:176px;
	
	}

	.three{

	  float:right;
	 margin-left:2%;
	 margin-right: 2%;
	}
	.three img{

	  
	  width:240px;
	  height:200px;
	  

	}

	.four{

	 float:left;
	 margin-left:2%;
	 margin-right: 2%;
	 margin-top: 45px;
	 
	}
	.four img{

	  
	  width:240px;
	  height:156px;
	
	}
	.five{

	  float:right;
	 margin-left:3%;
	 margin-right: 3%;
	
	}
	.five img{

	  
	  width:240px;
	  height:220px;
	
	}
	.six{

	  float:right;
	  margin-top: 25px;
	  margin-left:2%;
	 margin-right: 2%;

	}
	.six img{

	  
	  width:240px;
	  height:200px;
	  
	
	}
}



@media screen and (max-width: 1000px) {
	.bottom{
	  margin: 50px auto;
	}
	.bottom .bot1{
	  padding-top: 25px;
	}
	.one{
	  
	 float:left;
	 margin-left:4%;

	}
	.one img{
	
	width:300px;
	height:300px;
	}

	.two{
		

	  float:right;
	  margin-bottom:25px;
	  margin-right: 4%;
	

	  
	
	}
	.two img{

	  
	  
	  width:300px;
	  height:220px;
	
	}

	.three{
	 float:right;
	 margin-right: 4%;
	 margin-bottom:25px;
	}
	.three img{

	  
	  width:300px;
	  height:250px;
	  

	}

	.four{

	 float:left;
	 margin-left:4%;
	 margin-top: 25px;
	 
	}
	.four img{

	  
	  width:300px;
	  height:195px;
	
	}
	.five{

	  float:right;
	 margin-right: 4%;
	
	}
	.five img{

	  
	  width:300px;
	  height:275px;
	
	}
	.six{

	  float:left;
	  margin-left:4%;


	}
	.six img{

	  
	  width:300px;
	  height:250px;
	  
	
	}


}


@media screen and (max-width: 810px) {

	.banner{
	  padding-top: 0px;

	}

	.bottom{
	  margin: 25px auto;
	}
	.bottom .bot1{
	  padding-top: 5px;
	}
	.one{
	  
	 float:left;
	 margin-top: 25px;
	 margin-left: 20%;

	}
	.one img{
	
	width:350px;
	height:350px;
	}

	.two{
		

	  float:left;
	  margin-top: 25px;
	  margin-left: 20%;
	

	  
	
	}
	.two img{
	width:350px;
	height:350px;
	}

	.three{
	 float:left;
	 margin-top: 25px;
	 margin-left: 20%;

	}
	.three img{

	width:350px;
	height:350px;

	}

	.four{

	 float:left;
	 margin-top: 25px;
	 margin-left: 20%;
	 
	}
	.four img{

	width:350px;
	height:350px;
	}
	.five{

	  float:left;
	  margin-top: 25px;
	  margin-left: 20%;

	}
	.five img{

	  
	width:350px;
	height:350px;
	
	}
	.six{

	  float:cent;
	  margin-top: 25px;
	  margin-left: 20%;


	}
	.six img{

	  
	width:350px;
	height:350px;
	  
	
	}

}
@media screen and (max-width: 650px) {

	.banner{
	  padding-top: 0px;

	}

	.bottom{
	  margin: 25px auto;
	}
	.bottom .bot1{
	  padding-top: 5px;
	}
	.one{
	  
	 float:left;
	 margin-top: 25px;
	 margin-left: 15%;

	}
	.one img{
	
	width:350px;
	height:350px;
	}

	.two{
		

	  float:left;
	  margin-top: 25px;
	  margin-left: 15%;
	

	  
	
	}
	.two img{
	width:350px;
	height:350px;
	}

	.three{
	 float:left;
	 margin-top: 25px;
	 margin-left: 15%;

	}
	.three img{

	width:350px;
	height:350px;

	}

	.four{

	 float:left;
	 margin-top: 25px;
	 margin-left: 15%;
	 
	}
	.four img{

	width:350px;
	height:350px;
	}
	.five{

	  float:left;
	  margin-top: 25px;
	  margin-left: 15%;

	}
	.five img{

	  
	width:350px;
	height:350px;
	
	}
	.six{

	  float:cent;
	  margin-top: 25px;
	  margin-left: 15%;


	}
	.six img{

	  
	width:350px;
	height:350px;
	  
	
	}

}
@media screen and (max-width: 550px) {

	.banner{
	  padding-top: 0px;

	}

	.bottom{
	  margin: 25px auto;
	}
	.bottom .bot1{
	  padding-top: 5px;
	}
	.one{
	  
	 float:left;
	 margin-top: 25px;
	 margin-left: 7.5%;

	}
	.one img{
	
	width:350px;
	height:350px;
	}

	.two{
		

	  float:left;
	  margin-top: 25px;
	  margin-left: 7.5%;
	

	  
	
	}
	.two img{
	width:350px;
	height:350px;
	}

	.three{
	 float:left;
	 margin-top: 25px;
	 margin-left: 7.5%;

	}
	.three img{

	width:350px;
	height:350px;

	}

	.four{

	 float:left;
	 margin-top: 25px;
	 margin-left: 7.5%;
	 
	}
	.four img{

	width:350px;
	height:350px;
	}
	.five{

	  float:left;
	  margin-top: 25px;
	  margin-left: 7.5%;

	}
	.five img{

	  
	width:350px;
	height:350px;
	
	}
	.six{

	  float:cent;
	  margin-top: 25px;
	  margin-left: 7.5%;


	}
	.six img{

	  
	width:350px;
	height:350px;
	  
	
	}

}