/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*code zone*/
body{
	font-family: "Microsoft JhengHei";
}
a{
	text-decoration: none;
}
.wrap{
	width: 960px;
	margin: 0 auto;
}
.header{
	margin-top: 100px;
}
.header .header-bar{
	background-color: #f6f6f6;
}
.header .header-bar ul{
	float: right;
}
.header .header-bar ul li{
	float: left;
	padding-right: 15px;
	margin: 10px;
	font-size: 18px;
}
.border{
  border-right: 1px solid #969696;
}
.header .span1{
	color: #4460a0;
}
.header .span2{
	color: #00aaec;
}
.clearfix{
	clear: both;
}
.header-list h1{
  float: left;
}
.header-list h1 a{
  background-image: url(../img/HexLogo.png);
  width: 174px;
  height: 36px;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px;
}
.header-list ul{
	float: right;
}
.header-list ul li{
	float: left;
	font-size: 22px;
	padding-top: 35px;
	margin-right: 35px;
}
.header-list ul li a{
	color: #42d3a9;
	font-weight: bold;
}
.header-list ul li a:hover{
	padding-bottom: 20px;
	border-bottom: 5px solid #42d3a9;
}
/*banner zone*/
.banner img{
	margin-top: 30px;
	margin-bottom: 50px;
	width: 100%;
}
/*main*/
.main .main-top ul li{
	float: left;
	width: 29%;
	border: #969696;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 40px;
	box-shadow: 0 10px 15px #969696;
}
.main .main-top h3{
	font-weight: bold;
	font-size: 18px;
}
.main-top .type span{
	float: left;
	margin-left: 45px;
}
.main-top .type ul li{
	list-style-type: disc;
	box-shadow: none;
	width: 100%;
	margin-left: 40px;
	line-height: 30px;
	text-align: left;
}
/*main-middle*/
.main-middle{
	margin-top: 50px;
}
.main-middle h1{
  font-size: 26px;
	font-weight: bold;
  text-align: center;
}
.main-middle .table{
  width: 100%;
  margin-top: 30px;
  text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.table th{
  background: #f7f7f7;
}
.table th, td{
  padding: 15px;
  border-top: #969696 1px solid;
  border-bottom: #969696 1px solid;
}
.table .li-green{
  color: #00a67d;
}
/*main-bottom*/
.main-bottom{
	margin-top: 50px;
	background: linear-gradient(#00644b,#009771);
	text-align: center;
	color: #fff;
	padding: 15px;
	line-height: 40px;
	font-weight: bold;
}
.main-bottom-textarea{
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
.main-bottom-textarea textarea{
	float: left;
	margin-bottom: 20px;
}
.main-bottom-input{
	float: left;
	margin-left: 30px;
	line-height: 50px;
}
.main-bottom-input label{
	display: block;
	float: left;
}
.main-bottom-input input{
	display: block;
	width: 400px;
	padding: 5px;
	border-radius: 3px;
}
.main-bottom-input .btn{
	float: right;
	background-color: #00a67d;
	border: #00a67d;
	color: #fff;
	margin-top: 20px;
	padding: 5px 20px;
	font-size: 16px;
	border-radius: 5px;
}
/*footer*/
.footer{
	margin-top: 50px;
}
.footer ul{
	float: right;
	margin-bottom: 100px;
}
.footer ul li{
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
}
.footer ul li span{
	color: #e55995;
}
.footer h1 a{
  background-image: url(../img/FooterLogo.png);
  width: 171px;
  height: 36px;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px;
}
