@charset "utf-8";

/* CSS Document */
*{
  font-family: "Microsoft JhengHei";
  font-weight: bold;
}
button{
  border-radius: 15px;
}
.header{
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background: #eee;
}
.header a{
  color: #000;
}
.logo{
  width: 140px;
  height: 60px;
  float: right;
}
.row-fluid .col-md-3 button{
  height: 60px;
  background: #eee;
  border: none;
}
.row-fluid .col-md-2{
  padding-top: 30px;
  padding-left: 30px;
}

.newsbox{
	text-align:left;
	width:65%;
	margin:80px auto 40px auto;
}

.menulist{
	margin:0 auto;
	width:100%;
	background: #4c4c4c;

}
.newstitle{
	text-align:left;
	width:65%;
	margin:0 auto;
	border-bottom:1px #06F solid;
}
.newscontent{
	padding-top:30px;
	width:65%;
	margin:0 auto;
	margin:0px auto 100px auto;

}

.accordion-heading > a.active{
  background-color:#3399cc;
  color: #fff;
}


/*footer*/
.container-fluid4{
  margin-top: 200px;
	margin-left:auto;
  height: 100px;
  width: 100%;
  background-color: #EEEEEE;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: "Microsoft JhengHei";
  line-height: 50px;
}
.container-fluid4 a{
  color: #000;
}
.footer-text{
	color:#000;
  font-size: 14px;
}


<!------------------------------------------------>
.accordion-container{
  position: relative;
  height: auto;
  margin: 20px auto;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;

}
.set > a{
  display: block;
  padding: 10px 15px;

  text-decoration: none;
  color: #555;
  font-weight: 600;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.more{
  width: 60px;
  position:relative;
  float: right;
  color: #666;
}
.set > a.active{
  background-color:#9295c9;
  color: #fff;
}

.content{
  position:relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}
